* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: #ffe1e1;
    display: grid;
    place-items: center;
}
.titulo {
    margin: 0 2rem;
    display: grid;
    border: 5px solid #7f1d1d;
    border-radius: 2rem;
    padding: 1.5rem;
}
.titulo h1 {
    margin-bottom: 10px;
    text-align: center;
    font-family: monospace;
    font-size: bold;
    color: #7f1d1d;
}

.titulo p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.calculadora {
    background-color: #b91c1c; 
    border: 5px solid #7f1d1d; 
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

.pantalla {
    background-color: #020617; 
    color: #4ade80; 
    grid-column: 1 / 5;
    background-color: #090c31;
    padding:  1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1.5rem;
    font-family: monospace;
    font-weight: bold;

}

.proceso {

    display: flex;
    gap: 5px;
    background-color: transparent;

}

.proceso input {
    width: 100%;
    background: none;
    border-radius: 20px;
    color: #22c55e;
    font-size: 1.4rem;
    font-family: monospace;
    text-align: center;

}

.igual{
    justify-self: center;
    font-size: 1.5rem;
    color: #4ade80;
}

.btn {
    cursor: pointer;
    background-color: #fecaca; 
    color: #7f1d1d; 
    border-radius: .5rem;
    width: 100%;
    height: 4.5rem;
    font-size: 1.5rem;
}

.btn:hover {
    background-color: #f87171; 
    color: white;
}

#cero {
    grid-column: span 2;
}

#igual {
    grid-row: span 2;
    background-color: #dc2626;
    color: white;
}

#igual:hover {
    background-color: #991b1b;
}